RewriteEngine On

Redirect 301 /whattobring.html /what-to-bring
Redirect 301 /about.html /about
Redirect 301 /lessons.html /lessons
Redirect 301 /media.html /media
Redirect 301 /signup.html /sign-up
RewriteRule ^pdfs/RegForm201.*\.pdf$ /pdfs/RegForm2020.pdf [R=301,L]
RewriteRule ^pdfs/RegForm200.*\.pdf$ /pdfs/RegForm2020.pdf [R=301,L]
